:global(.stepProgressContainer) {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

:global(.progressStep) {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
  margin: 0.5rem;
}

:global(.progressIcon) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  background-color: rgba(202, 202, 202, 0.5);
  border: 1px solid rgb(199, 199, 199);
  border-radius: 50%;
}

:global(.progressText) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 20px;
  height: 100%;
  color: rgb(149, 149, 149);
  font-size: 0.8rem;
  word-wrap: nowrap;
}

/* active */

:global(.activeIcon) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
}

:global(.activeText) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 20px;
  height: 100%;
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
  word-wrap: nowrap;
}

:global(.lightActive) {
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  font-size: 0.7rem;
  font-weight: 800;
  white-space: nowrap;
}

:global(.darkActive) {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 0.7rem;
  font-weight: 800;
  white-space: nowrap;
}

:global(.notActive) {
  display: flex;
  align-items: center;
  color: gray;
  font-size: 0.7rem;
  white-space: nowrap;
}