////////// desktop //////////

@import 'src/styles/base';

.stepTwoContainer {
  display: flex;
  @extend %centerCenter;
  width: 100%;
  margin: 1rem 0;

  .form {
    width: 80%;

    .formTitle {
      margin: 1rem 0;
    }

    .radioGroup {
      width: 80%;
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      cursor: pointer;

      .infoBox {
        width: 80%;

        .info {
          display: flex;
          justify-content: space-between;
          width: 100%;

          .text {
            font-weight: 600;
          }

          .price {
            display: flex;
            align-items: center;
            font-size: 0.7rem;
          }
        }

        .period {
          font-size: 0.7rem;
        }
      }
    }
  }
}

// input setting

.radioGroup {
  position: relative;

  input[type=radio] {
    cursor: pointer;
    opacity: 0;

    &:checked ~ .infoBox::after {
      opacity: 1;
    }
  }

  .infoBox {
    &::after {
      position: absolute;
      content: '';
      top: 5vw;
      left: 5vw;
      width: 2.5vw;
      height: 2.5vw;
      background-color: #F67599;
      border-radius: 50%;
      opacity: 0;
    }

    &::before {
      position: absolute;
      content: '';
      top: 4vw;
      left: 4vw;
      width: 4vw;
      height: 4vw;
      border: 2px solid rgb(74, 74, 74);
      border-radius: 50%;
    }
  }
}



////////// mobile //////////

@media screen and (max-width: 576px) {
  .stepTwoContainer {
    .form {
      .formTitle {
        font-size: 1.5rem;
      }
    }
  }
}