.checkSection {
<<<<<<< HEAD
  width: 100%;
=======
>>>>>>> ed6e7d3f8deb93db53088b5f584b2d5bb6d5453c
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.checkContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
<<<<<<< HEAD
  height: 550px;
  width: 100%;
  margin-bottom: 5rem;
=======
  width: 100%;
>>>>>>> ed6e7d3f8deb93db53088b5f584b2d5bb6d5453c
}

.checkTitle {
  width: 100%;
  margin-left: 15%;
  display: flex;
  justify-content: start;
}