.checkSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;

  .checkTitle {
    width: 100%;
    margin-left: 15%;
    display: flex;
    justify-content: flex-start;
  }

  .checkContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 576px) {
  .checkContainer {
    flex-direction: column;
  }
}