.footerContainer {
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: #e4e4e4;
  width: 100%;
  height: 220px;
}

.footerLogoSection {
  display: flex;
  align-items: center;
  width: 20%;
  height: 100%;
  margin-right: 4rem;
}

.footerSection {
  width: 10%;
  margin: 0 1rem;
}

.sectionTitle {
  font-size: 1.2rem;
  white-space: nowrap;
}

.sectionContent {
  all: unset;
  display: flex;
  flex-direction: column;
}

.pageLink {
  all: unset;
  margin: 0.1rem 0;
  font-size: 0.8rem;
  color: rgb(85, 85, 85);
  white-space: nowrap;
  cursor: pointer;
}

.telInfo {
  margin: 0.1rem 0;
  font-size: 0.8rem;
  color: rgb(85, 85, 85);
  white-space: nowrap;
}

.footerLogoBox {
  width: 100%;
}

.alphaLogo {
  width: 100%;
  height: 100%;
}

.socialIconGroup {
  display: flex;
  justify-content: start;
  margin: 0.5rem 0;
}

.icon {
  margin: 0 0.2rem;
  cursor: pointer;
}