.headerContainer {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 5px 5px rgb(233, 233, 233);
}

.navBar {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 1rem;
  width: 30%;
}

.navLink {
  all: unset;
  margin: 0 0.5rem;
  white-space: nowrap;
  color: rgb(85, 85, 85);
  cursor: pointer;
}

.logoBox {
  width: 40%;
  margin: 0.5rem 0;
  cursor: pointer;
}

.logo {
  height: 100%;
  width: 100%;
}

.functionBox {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 1rem;
  width: 30%;
}

.function {
  margin: 0 1rem;
  stroke: rgb(0, 0, 0);
  fill: rgb(0, 0, 0);
  cursor: pointer;
}