////////// desktop //////////

@import 'src/styles/base';

.progressControlContainer {
  width: 100%;
  @extend %flexColumn;
  align-items: center;
  margin: 3rem 0;

  &::before {
    margin: 1rem 0;
    @extend %line;
    width: 80%;
  }

  .buttonGroup {
    position: relative;
    width: 80%;
    display: flex;
    justify-content: flex-end;

    .previous {
      @extend %btnSet;
      left: 0;
      background-color: transparent;
      color: $gray;
    }

    .next {
      @extend %btnSet;
      right: 0;
      background-color: $pink;
      color: $white;
    }
  }
}

// icon set

.icon {
  fill: $gray;
}

////////// mobile //////////

@media screen and (max-width: 576px) {
  .progressControlContainer {
    margin: 0;
    &::before {
      width: 0;
    }
    .buttonGroup {
      .previous {
        width: 8.5rem;
        height: 3.5rem;
        font-size: 1.5rem;
        font-weight: 800;
      }

      .next {
        width: 8.5rem;
        height: 3.5rem;
        font-size: 1.5rem;
        font-weight: 800;
      }
    }
  }
}